@tailwind base;
@tailwind components;
@tailwind utilities;





.logo {
    background: url(../public/images/ThiaLogo.png) center center/ cover;

}

.thia {
    background: url(/public/images/thia2.jpg) center center/ cover;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;


}

.thin:hover {
    transform: scale(1.1)
}

.btn {
    @apply transition ease-in-out duration-1000 bg-blackk hover:scale-105 font-semibold text-white rounded-sm py-1 flex justify-center px-4 shadow-md hover:bg-yellow-500 hover:text-white border border-gray-600 items-center gap-2
}



.trans {
    transition: ease-in-out .4s;
}


.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    background-position: center center;

    /* This ensures the image covers the entire container */
}

.carousel {
    display: flex;
    overflow: hidden;
    width: 100% !important;
}



.dot {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.dot.active {
    background-color: #fff;
    /* Change to desired active color */
}

/* Add this CSS to your stylesheet */
.slide {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.slide.active {
    opacity: 1;
}

.names {
    border: 1px solid rgb(239, 229, 229);

    &:hover {
        border: 1px solid yellow;
        background-color: black;
    }
}

.carocel-btn {
    @apply bg-trans text-white hover:bg-black
}

.carocel-btn {
    border: 1px solid yellow;
}

.carocel-btn {
    border: 1px solid rgb(239, 229, 229);

    &:hover {
        border: 1px solid yellow;

    }
}