@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap"); /* Corrected font-family */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); /* Corrected font-family */
@import url("https://fonts.googleapis.com/css2?family=Agu+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");




@tailwind base;
@tailwind components;
@tailwind utilities;

.a1,
.a2,
.a3,
.a4,
.a5 {
  background-size: cover;
  background-position: center center;
}

/* Add your background images */
.a1 {
  background-image: url(/public/images/aabb.jpg);
}

.a2 {
  background-image: url(/public/images/aabb.jpg);
}

.a3 {
  background-image: url(/public/images/Ashoebi21.jpg);
}

.a4 {
  background-image: url(/public/images/4767.jpg);
}

.a5 {
  background-image: url(/public/images/214.jpg);
}

.logo {
  background: url(/public/images/ThiaLogo.png) center center/ cover;
}

.thia {
  background: url(/public/images/thia2.jpg) center center/ cover;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

.thin:hover {
  transform: scale(1.1);
}

.btn {
  @apply transition ease-in-out duration-1000 bg-blackk hover:scale-105 font-semibold text-white rounded-sm py-1 flex justify-center px-4 shadow-md hover:bg-yellow-500 hover:text-white border border-gray-600 items-center gap-2;
}

.childd {
  @apply rounded-md;
}

.carocel {
  @apply rounded-md;
}

.carsel {
  @apply rounded-lg;
}

.carsel:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  /* --box--shadow-2: 0 3px 15px rgba(0, 0, 0.3); */
}

.trans {
  transition: ease-in-out 0.4s;
}

.rightProduct {
  background: url(/public/images/stylish.jpg) center center/ cover;
}

.leftProduct {
  background-color: rgb(255, 185, 72);
}

.names {
  @apply hover:scale-105 bg-trans transition ease-in-out duration-500;
}

.names {
  border: 1px solid rgb(239, 229, 229);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  &:hover {
    background-color: rgba(0, 0, 0, 0.6);

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  }
}

.carocel-btn {
  @apply bg-trans text-white hover:scale-125 transition ease-in-out duration-500;
}

.carocel-btn {
  border: 1px solid black;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);

    background-color: rgba(0, 0, 0, 0.5);
  }
}

.altr {
  text-decoration-color: black !important;
}

.udtext {
  text-decoration-color: white;
  transition: ease-in-out 1sec;

  &&:hover {
    text-decoration: none;
  }
}

.thiaLogo {
  background: url(/public/images/logo4.png) center center/ cover;
}

.footerLogo {
  background: url(/public/images/fotter-modified.png) center center/ cover;
}

.pics1 {
  background: url(/public/images/product.jpg) center center/ cover;
}

.pics2 {
  background: url(/public/images/prdde.jpg) center center/ cover;
}

.talor1 {
  background: url(/public/images/talor1.jpg) center center/ cover;
}

.talor2 {
  background: url(/public/images/talor2.jpg) center center/ cover;
}

.talor3 {
  background: url(/public/images/talor3.jpg) center center/ cover;
}

.talor4 {
  background: url(/public/images/talor4.jpg) center center/ cover;
}

.talor5 {
  background: url(/public/images/talor5.jpg) center center/ cover;
}

.tal {
  @apply rounded-sm;
}

.customm {
  background: url(/public/images/customm.jpg) center center/ cover;
}

.rev:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.93);
}

.active-nav-item {
  color: red;
  /* Change to your desired active color */
}

.rev {
  @apply hover:scale-105 transition ease-in-out duration-300;
}

.slick-slide > div {
  margin: 0 5px;
}

.revLogo {
  background: url(/public/images/logo4.png) center center/ cover;
}

.thiaContact {
  background: url(/public/images/thia1.jpg) center center/ cover;
}

.AoutThiaPics {
  background: url(/public/images/thia1.jpg) center center/ cover;
}

.contactIcons {
  @apply h-10 w-10 bg-location text-white rounded-full;
}

.contactIcons {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.italic {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.size {
  @apply text-2xl font-semibold;
}

.transi {
  @apply transition-all ease-in-out duration-150;
}
/* 
.headerrr{
    z-index: 4;
} */

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.search {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.search.open {
  animation-name: slideIn;
}

.search.closed {
  animation-name: slideOut;
}

.coverDiv {
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 1s ease-in-out;
  opacity: 0;
  /* Start with invisible */
  visibility: hidden;
  /* Start as hidden */
}
.coverDiv.open {
  opacity: 1;
  /* Fully visible when open */
  visibility: visible;
  /* Fully visible when open */
}

@keyframes slideIn2 {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideOut2 {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}

.coverDiv2 {
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 1s ease-in-out;
  opacity: 0;
    max-width: 100%;
  /* Start with invisible */
  visibility: hidden;
  /* Start as hidden */
}
.coverDiv2.open {
  opacity: 1;
  /* Fully visible when open */
  visibility: visible;
    max-width: 100%;
  /* Fully visible when open */
}

.search2 {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.search2.open {
  animation-name: slideIn2;
}
.search2.closed {
  animation-name: slideOut2;
}

.sizeval {
  @apply border hover:border-rose-950 rounded-md cursor-pointer w-1/2 flex justify-center items-center border-red-500 transition ease-in-out duration-300;
}

.faq {
  @apply font-semibold;
}

.dropp {
  @apply mt-4 w-full transition ease-in-out duration-700;
}

.questions {
  @apply cursor-pointer;
}

@keyframes subIn {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(70%);
  }
}

.subnav {
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.subnav.subopen {
  animation-name: subIn;
}

table th,
td {
  @apply p-2 text-center;
}

.lightMode:nth-child(EVEN) {
  background-color: rgba(226, 253, 255, 0.7);
}

/* AdminBlueBlackColor */
.darkMode:nth-child(EVEN) {
  background-color: rgba(10, 25, 47, 0.7);
}

.darkModeTh_tr {
  background-color: rgb(10, 25, 47, 0.7);
}

.lightModeTh_tr {
  background-color: rgba(226, 253, 255, 0.7);
}

.formdark {
  background-color: rgb(10, 25, 47, 0.7);
}

.formLight {
  background-color: rgba(226, 253, 255, 0.8);
}

.formLight2 {
  background-color: rgba(226, 253, 255, 0.9);
}

.ainput {
  @apply w-full h-8 p-2;
}

/* form liht and dark toggle colors */
.addRemovebtnDarkMode {
  background-color: rgb(44, 14, 55, 0.9);
  border: 1px solid rgb(107, 114, 128);
  color: rgb(107, 114, 128);
}

.addRemovebtnLightMode_RemoveProduct {
  background-color: rgb(232, 253, 255, 0.9);
  border: 1px solid rgb(107, 114, 128);
  color: rgb(107, 114, 128);
}

.addRemovebtnLightMode_AddProduct {
  background-color: rgb(232, 253, 255, 0.9);
  border: 1px solid rgb(107, 114, 128);
  color: rgb(107, 114, 128);
}

.addRemovebtnDarkMode {
  background-color: rgb(44, 14, 55, 0.9);
  border: 1px solid rgb(107, 114, 128);
  color: rgb(107, 114, 128);
}

.pop {
  @apply scale-110;
}
/* 
.fd{
  background-color: rgb(0, 0, 255);
} */

.Acct_links {
  height: 0;
  opacity: 0; /* Content is initially invisible */
  overflow: hidden;
  transition: height 0.6s ease-in-out, opacity 0.3s ease-in-out;
  transition-delay: 0s, 0.2s; /* Delay opacity transition until height transition is done */
}

.expanded {
  height: 140px;
  opacity: 1; /* Content becomes visible after height transition */
  transition: height 0.6s ease-in-out, opacity 0.6s ease-in-out;
  transition-delay: 0.1s, 0.4s; /* Reverse delay for smooth transition */
}

.createAcctInputDiv {
  @apply w-[80%];
}

.createAcctInput {
  @apply bg-input w-full p-4 rounded-tr-lg  rounded-bl-lg;
}

.cartTable table thead {
  position: sticky;
  top: 0;
  background-color: white; /* Make sure the header stands out */
  z-index: 10; /* Ensure it's above other content */
}

@media screen and (max-width: 500px) {
  /* Styles for small screens */
  .navcattt {
    /* background-color: gray; */
    margin-top: 17rem;
  }
}

@keyframes ringg {
  0% {
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px rgba(27, 30, 50, 1);
  }
  50% {
    transform: rotate(180deg);
    box-shadow: 1px 5px 2px rgb(98, 97, 97);
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 1px 5px 2px rgb(50, 63, 56);
  }
}

.ringg::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 3px rgb(40, 11, 11);
  border-radius: 50%;
  animation: ringg 2s linear infinite;
  display: block;
}

.hide {
  opacity: 0;
  transform: translateX(-100%);
  visibility: hidden;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s;
  pointer-events: none;
}

.hide2 {
  opacity: 0;
  transform: translateX(-100%);
  visibility: hidden;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s;
  pointer-events: none;
}

.show {
  opacity: 1;
  transform: translateX(0);
  visibility: visible;
  pointer-events: auto;
}

.show2 {
  opacity: 1;
  transform: translateX(0);
  visibility: visible;
  pointer-events: auto;
}

@media screen and (max-width: 321px) {
  /* Styles for small screens */
  .navcart {
    background-color: yellow;
    margin-top: 6rem;
  }
}



.thiaLearn {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
 
}