@tailwind base;
@tailwind components;
@tailwind utilities;

.a1,
.a2,
.a3,
.a4,
.a5 {
    background-size: cover;
    background-position: center center;
}

/* Add your background images */
.a1 {
    background-image: url(/public/images/aabb.jpg);
}

.a2 {
    background-image: url(/public/images/aabb.jpg);
}

.a3 {
    background-image: url(/public/images/Ashoebi21.jpg);
}

.a4 {
    background-image: url(/public/images/4767.jpg);
}

.a5 {
    background-image: url(/public/images/214.jpg);
}

.logo {
    background: url(../public/images/ThiaLogo.png) center center/ cover;

}

.thia {
    background: url(/public/images/thia2.jpg) center center/ cover;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;


}

.thin:hover {
    transform: scale(1.1)
}

.btn {
    @apply transition ease-in-out duration-1000 bg-blackk hover:scale-105 font-semibold text-white rounded-sm py-1 flex justify-center px-4 shadow-md hover:bg-yellow-500 hover:text-white border border-gray-600 items-center gap-2
}

.childd {
    @apply rounded-md
}

.carocel {
    @apply rounded-md
}

.carsel {
    @apply rounded-lg
}

.carsel:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    /* --box--shadow-2: 0 3px 15px rgba(0, 0, 0.3); */
}

.trans {
    transition: ease-in-out .4s;
}

.rightProduct {
    background: url(/public/images/stylish.jpg)center center/ cover;
}

.leftProduct{
    background-color: rgb(255, 185, 72);
}


.names {
    @apply hover:scale-105
}

.names {
    border: 1px solid rgb(239, 229, 229);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);

    &:hover {
        border: 1px solid yellow;
        background-color: black;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}

.carocel-btn {
    @apply bg-trans text-white hover:bg-black hover:scale-105
}

.carocel-btn {
    border: 1px solid rgb(239, 229, 229);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);

    &:hover {
        border: 1px solid yellow;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}


.udtext{
    @apply text-2xl
}
.udtext{
    text-decoration-color: white;
    transition: ease-in-out 1sec;
    &&:hover{
        text-decoration: none;
    }
}

.thiaLogo{
    background: url(/public/images/logo4.png) center center/ cover;
}

.footerLogo{
    background: url(/public/images/fotter-modified.png) center center/ cover;
}


.pics1{
    background: url(/public/images/product.jpg) center center/ cover;
}

.pics2 {
    background: url(/public/images/prdde.jpg) center center/ cover;
}